.box {
    height: 100px;
    weight: 100px;
    border: 1px solid #000;
}

.float-left {
    float: left;
}

body {
    font-family: 'Lato', Helevetica Neue, sans-serif;
}

iframe {
    border: none;
    min-width: 100%;
    min-height: 350px;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 900;
    padding: 10px;
    color: #56a0d3;
    margin: 0;
    font-size: 72px;
    text-align: right;
}

h1.main-title {
   
}

h2 {
    padding: 10px;
    font-weight: 900;
    font-size: 60px;
    background-attachment: fixed;
    background-position: 0;
    color: #2a6496;
    border-bottom: 1px solid #56a0d3;
    margin: 0;
    
}

h3 {
    font-size: 48px;
    font-weight: 900;
    padding: 10px;
    color: #56a0d3;
    background-color: #f4f4f4;
}

p.label {
    font-weight: bold;
    color: #000;
    font-size: 12px;
}

.title-left{
    border-left: 1px solid #56a0d3;
}

.row-margin {
    margin-top: 20px;
}

.player-head {
    
}

.table thead {
    background-color: rgba(86, 160, 211, 0.2);
    color: #2a6496;
}

.table tbody {
    background-color: #fff;
}

.table tbody tr:hover {
    background-color: #f4f4f4;
}

.player-head-row th, .player-data td {
    padding: 10px;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
}

.player-head-row th:last-child, .player-data td:last-child {
    border-right: 1px #000 solid;
}

.player-head-row th:first-child, .player-data td:first-child {
    border-left: 1px #000 solid;
}


.player-data:hover {
    background-color: #f4f4f4;
}

.player-facts {
    padding: 0;
}

.player-facts li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px #56a0d3 solid;
    border-right: 1px #56a0d3 solid;
    border-left: 1px #56a0d3 solid;
}

.player-facts li:first-child {
    border-top: 1px #56a0d3 solid;
}

a {
    color: #56A0D3;
}

a:hover {
    text-decoration: none;
}

.mug {
    max-width: 100%;
    padding: 10px;
    border-top: 1px #56a0d3 solid;
    border-right: 1px #56a0d3 solid;
    border-left: 1px #56a0d3 solid;
}

.player-facts {
    max-width: 100%;
}

#leftside {
    
}

/*PANEL*/
.panel-heading {
    border-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
}

h4.panel-title-sub {
    color: #56a0d3;
    font-size: 14px;
    margin: 0;
}

h4.panel-title {
    color: #56a0d3;
    font-weight: bold;
    font-size: 24px;
}

h5 {
    font-weight: bold;
    font-size: 24px;
    color: #56a0d3;
}

/*TOOLTIP*/
.position-tip {
    cursor: hand;
    cursor: pointer;
}

.show-this {
    visibility: hidden;
    position: relative;
    z-index: 1000;
}

ul.positions {
    float: right;
}

.player-table-static {
    position: relative;
    background-color: #f4f4f4;
}

.player-table-scroll {
    position: relative;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: #56a0d3 thin;
}

.info-box {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px #56a0d3 solid;
}

.info-box ul {
    list-style: none;
    font-size: 12px;
    padding: 10px;
    margin: 0;
}

#map { height: 180px; }