body {
    font-family: 'Lato', Helevetica Neue, sans-serif;
}

h1 {
    font-weight: 900;
    padding: 10px;
    color: #56a0d3;
    background-color: #f4f4f4;
    font-size: 60px;
}

h1.main-title {
   
}

h2 {
    padding: 10px;
    font-weight: 900;
    font-size: 72px;
    background-color: #f4f4f4;
    background-attachment: fixed;
    background-position: 0;
    
}

.player-head {
    
}

.table thead {
    background-color: rgba(86, 160, 211, 0.2);
}

.table tbody tr:hover {
    background-color: #f4f4f4;
}

.player-head-row th, .player-data td {
    padding: 10px;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
}

.player-head-row th:last-child, .player-data td:last-child {
    border-right: 1px #000 solid;
}

.player-head-row th:first-child, .player-data td:first-child {
    border-left: 1px #000 solid;
}


.player-data:hover {
    background-color: #f4f4f4;
}

.player-facts {
    padding: 0;
}

.player-facts li {
    list-style: none;
    border-bottom: 1px #56a0d3 solid;
    border-right: 1px #56a0d3 solid;
    border-left: 1px #56a0d3 solid;
    padding: 5px;
}

a {
    color: #56A0D3;
}

a:hover {
    text-decoration: none;
}

.mug {
    max-width: 100%;
    border: #56a0d3 1px solid;
    padding: 10px;
}

.player-facts {
    max-width: 100%;
}

#leftside {
    
}

/*PANEL*/
.panel-heading {
    border-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
}

h4.panel-title {
    color: #56a0d3;
}

/*TOOLTIP*/
.position-tip {
    cursor: hand;
    cursor: pointer;
}

.show-this {
    visibility: hidden;
    position: relative;
    z-index: 1000;
}

.player-table {
    position: relative;
}

.info-box {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px #56a0d3 solid;
}

.info-box ul {
    list-style: none;
    font-size: 12px;
    padding: 10px;
    margin: 0;
}