<!--roster/templates/roster/home.html-->

{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h1 class="main-title"><a href="{% url 'roster_player_list' %}">UNC Baseball</a></h1>
<h1 class="main-title"><a href="#">UNC Basketball</a></h1>
<h1 class="main-title"><a href="#">UNC Field Hockey</a></h1>
<h1 class="main-title"><a href="#">UNC Football</a></h1>
<h1 class="main-title"><a href="#">UNC Gymnastics</a></h1>
<h1 class="main-title"><a href="#">UNC Lacrosse</a></h1>

{% endblock %}