<!-- roster/templates/roster/player.html-->

{% extends "base.html" %}

{% block content %}

<h2>{{ player.jersey }} <a href="{% url 'roster_player_list' %}">{{ player.name }}</a></h2>

<div class="row">
<div class="col-md-4" id="leftside">
    <img src="{{ player.imgurl }}" class="mug">
    
    <ul class="player-facts">
        <li>Weight: {{ player.weight }}</li>
        <li>Height: {{ player.height }}</li>
        <li>Hand: {{ player.hand }}</li>
        <li>Position: {{ player.position }}</li>
    </ul>
</div><!--end #leftside-->

<div class="col-md-8">
    <h4>{{ player.previousschool }}</h4>
    <p>{{ player.highschool }}</p>
        
    <h4>Freshman Year</h4>
    <p>{{ player.freshman }}</p>
        
    <h4>Sophomore Year</h4>
    <p>{{ player.sophomore }}</p>
        
    <h4>Junior Year</h4>
    <p>{{ player.junior }}</p>
    
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li><a href="#freshman" data-toggle="tab">Freshman</a></li>
        <li><a href="#sophomore" data-toggle="tab">Sophomore</a></li>
        <li><a href="#junior" data-toggle="tab">Junior</a></li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="about">About</div>
        <div class="tab-pane" id="freshman">Freshman</div>
        <div class="tab-pane" id="sophomore">Sophomore</div>
        <div class="tab-pane" id="junior">Junior</div>
      </div>
</div>
</div><!--end-row-->

{% endblock %}