.sideways {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    display: block;
    padding-bottom: 60%;
}

.float-left {
    float: left;
    text-align: left;
}

body {
    font-family: 'Lato', Helevetica Neue, sans-serif;
}

.container {
    height: auto;
}

iframe {
    border: none;
    min-width: 100%;
    min-height: 350px;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 900;
    padding-top: 0;
    color: #56a0d3;
    margin: 0;
    font-size: 72px;
    text-align: right;
}

h1.main-title {
   
}

h2 {
    padding: 10px;
    font-weight: 900;
    font-size: 60px;
    background-attachment: fixed;
    background-position: 0;
    color: #2a6496;
    margin: 0;
}

h2 a {
    color: #2a6496;
}

h2.player-name-small {
    border-bottom: none;
}

h3 {
    font-size: 48px;
    font-weight: 900;
    padding: 10px;
    color: #56a0d3;
    text-align: right;
    border-right: #ddd solid 1px;
}

p.label {
    font-weight: bold;
    color: #56a0d3;
    font-size: 12px;
    text-transform: uppercase;
}

.title-left{
    border-left: 1px solid #56a0d3;
}

.row-margin {
    margin-top: 20px;
    height: 100%;
}

a {
    color: #56A0D3;
}

a:hover {
    text-decoration: none;
}

/*TABLE*/
.table thead {
    /*background-color: rgba(86, 160, 211, 0.2);*/
    color: #2a6496;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    background-color: #fff;
}

.table tbody {
    background-color: #fff;
}

.table tbody tr {
    font-size: 12px;
}

.table tbody tr:hover {
    background-color: #f4f4f4;
}

.player-head-row th, .player-data td {
    padding: 10px;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
}

.player-head-row th:last-child, .player-data td:last-child {
    border-right: 1px #000 solid;
}

.player-head-row th:first-child, .player-data td:first-child {
    border-left: 1px #000 solid;
}

.player-data:hover {
    background-color: #f4f4f4;
}

/*PLAYER FACTS*/
.player-facts {
    padding: 0;
}

.player-facts li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px #56a0d3 solid;
    border-right: 1px #56a0d3 solid;
    border-left: 1px #56a0d3 solid;
}

.player-facts li:first-child {
    border-top: 1px #56a0d3 solid;
}

#leftside-player {
    max-width: 300px;
    height: 100%;
    margin-top: 25px;
}

.mug {
    max-width: 100%;
    padding: 10px;
    border-top: 1px #56a0d3 solid;
    border-right: 1px #56a0d3 solid;
    border-left: 1px #56a0d3 solid;
}

.player-facts {
    max-width: 100%;
}

/*ACCORDION*/
.panel-heading {
    border-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
}

h4.panel-title-sub {
    color: #56a0d3;
    font-size: 14px;
    margin: 0;
}

h4.panel-title {
    color: #56a0d3;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    font-weight: bold;
    color: #2a6496;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 20px;
}

/*TOOLTIP*/
.position-tip {
    cursor: hand;
    cursor: pointer;
}

.show-this {
    visibility: hidden;
    position: relative;
    z-index: 1000;
}

ul.positions {
    float: right;
}

.player-table-static {
    position: relative;
    background-color: #f4f4f4;
}

.player-table-scroll {
    position: relative;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: #56a0d3;
}


/*EFT SIDE MAIN*/
#leftside-main {
    border-right: #ddd solid 1px;
}

.info-box {
    position: relative;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: right;
}

.info-box ul {
    position: absolute;
    list-style: none;
    font-size: 12px;
    padding: 10px;
    margin: 0;
    top: 20px;
    right: 0;
}

.show-image {
    visibility: hidden;
}

.show-image:hover {
    visibility: visible;
}

pre {
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    word-wrap: normal;
    border: none;
    word-break: normal;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}