<!DOCTYPE html>
    
<html>
<head>
    <title>UNC Baseball Team</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,900,400italic' rel='stylesheet' type='text/css'>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <base target="_parent" />

</style>
</head>

<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script type='text/javascript'>
    var width = $(window).width();
    var height = $(window).height();
    
    $(document).ready(function divSize() {
        $('.container').height(height);
    });
    
    $('.position-tip').on("mouseenter mouseleave", function(){
        $(".info-box").toggleClass("show-this");
    });
    
    $('.mug[src=""]').hide();
    
    $('.mug:not([src=""])').show();
    
    $(".panel-body:empty").parent().hide(".panel");
    
  </script>
</body>
    
</html>